<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>E-obancas | Home</title>
      <link rel="stylesheet" href="Source/View/css/style-home.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <script type="module" src="Source/View/js/home.js" async></script>
   </head>
   <body>
      <div class="wrapper">
         <input type="checkbox" id="btn" hidden>
         <label for="btn" class="menu-btn">
         <i class="fas fa-bars"></i>
         <i class="fas fa-times"></i>
         </label>
         <nav id="sidebar">
            <div class="title">E-oBancas</div>
            <ul class="list-items">
               <li><a href="home"><i class="fas fa-home"></i>Home</a></li>
               <li><a href="perfil"><i class="fas fa-user"></i>Perfil</a></li>
               <div class="icons">
                  <a href="https://github.com/Zarizu/E-oBancas"><i class="fab fa-github"></i></a>
                  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-youtube"></i></a>
               </div>
            </ul>
         </nav>
      </div>
      <div class="content">
         <div class="header">
            Bem vindo
         </div>
         <p>
            Site de teste para E-oBancas
         </p>
         </br>

         <div class="postbox">
            <div class="header">Registro</div>
            <label>Nome: <input id="username"></label></br>
            <label>Email: <input id="email"></label></br>
            <label>Senha: <input id="password"></label></br>
            <button id="register">Cadastrar</button>
            <span id="message-register"></span>
         </div>
         <div class="postbox">
            <div class="header">Login</div></br>
            <label>Email: <input id="user"></label></br>
            <label>Senha: <input id="pwd"></label></br>
            <button id="login">Login</button>
            <span id="message-login"></span>
         </div>
      </div>
   </body>
</html>